/* Configurações gerais */

:root {
  --fundo: #FCFCFB;
  --bs-body-bg: var(--fundo);
  --bs-table-border-color: #000000;
  --sombreamento: rgba(0, 0, 0, 0.30) 0px 2px 10px 0px;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  background-color: var(--fundo);
}

a {
  text-decoration: none;
  color: black;
}

.container-separator {
  width: 100%;
  height: 100%;
}

.container-menu {
  background-color: #1A1A1A;
  width: 100%;
  height: 100%;
  margin: 0;
  margin-right: 50px;
  max-width: 350px;
  display: block;
  padding: 0px 50px;
}

.col{
  flex: 1;
}

/* Nav Bar*/

.container-menu .btn {
  font-family: 'Poppins', 'Roboto', sans-serif;
}

.active-btn,
.container-menu .btn:hover {
  color: #FFB800;
}

.btn {
  color: #FFF;
}

.menu-options {
  margin-top: 460px;
  height: 100px;
}

/* Área de perfil */

.container-perfil {
  /* background-color: violet; */
  height: 10%;
  padding: 0;
}

.welcome {
  font-size: 32px;
  font-weight: bold;
  height: 100%;
}

.name-text {
  color: #00000036;
  font-weight: 500;
}

.container-line {
  height: 100%;
}

/* Área dos riscos */

.table-hover {
  cursor: pointer;
}

.conteudo {
  height: 100%;
}

.table-container {
  padding: 10px;
  height: 100%;
  border-radius: 7px;
  box-shadow: var(--sombreamento);
  margin-top: 10px;
}

.teste-espaco {
  background-color: blue;
}