/* Configurações gerais */

:root {
  --sombreamento: rgba(0, 0, 0, 0.30) 0px 2px 10px 0px;
  --poppins: 'Poppins', sans-serif;
  --roboto: 'Roboto', sans-serif;
}

.principal {
  height: 100vh;
  width: 100vw;
  max-width: none;
}

.shadow-container {
  box-shadow: var(--sombreamento);
}

.content-ajuda{
  bottom: 0;
	right: 0;
}

/* Área Menu */

.text-menu {
  font-family: var(--poppins);
  font-size: 17px;
}

.menu-selected {
  color:#FFB800;
}

.menu-button {
  cursor: pointer;
}

/* Cabeçalho */

.superior-bar {
  height: 100px;
}

.sub-title-menu {
  font-family: var(--roboto);
  font-size: 17px;
  color: #818181;
}

.title-menu{
  font-family: var(--poppins);
  font-size: 30px;
  font-weight: 600;
  color: #1A1A1A;
}

#profile{
  font-family: var(--poppins);
  font-size: 16px;
  font-weight: 400;
  color: #818181;
}

#profile img{
  height: 40px;
  width: 40px;
}

/* Filtros */

.form-select:focus,
.form-control:focus {
  border-color: #FFB800;
  box-shadow: 0 0 0 0.25rem rgba(255,184,0,.25)
}

.form-select,
#selectRisk{
  background-color: #ECECEC;
  border: none;
}

#containerFiltro {
  border: 1px solid #999999; 
  max-height: 120px;
}

button {
  border: none;
  background-color: transparent;
}

.name-filter{
  font-family: var(--roboto);
  font-size: 18px;
  color: #747474;
  font-weight: bold;
}

/* Tabela */
.title {
  color:#818181 !important;
}

tr:hover{
  cursor: pointer;
}

.btn {
  font-weight: 500;
}

/* Style  dark mode button */

.toggle {
  --size: 2rem;
  --ray-size: calc(var(--size) * -0.4);
  --offset-orthogonal: calc(var(--size) * 0.65);
  --offset-diagonal: calc(var(--size) * 0.45);
  appearance: none;
  outline: none;
  cursor: pointer;
  width: var(--size);
  height: var(--size);
  box-shadow: inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;
  border-radius: 999px;
  color: #a2a2e0;
  transition: all 500ms;
  opacity: 1 !important;
  position: revert !important;
  pointer-events: revert !important;
}

.toggle:checked {
  transform: scale(0.75);
  color: rgb(243, 228, 14);
  box-shadow: inset 0 0 0 var(--size),
    calc(var(--offset-orthogonal) * -1) 0 0 var(--ray-size),
    var(--offset-orthogonal) 0 0 var(--ray-size),
    0 calc(var(--offset-orthogonal) * -1) 0 var(--ray-size),
    0 var(--offset-orthogonal) 0 var(--ray-size),
    calc(var(--offset-diagonal) * -1) calc(var(--offset-diagonal) * -1) 0
      var(--ray-size),
    var(--offset-diagonal) var(--offset-diagonal) 0 var(--ray-size),
    calc(var(--offset-diagonal) * -1) var(--offset-diagonal) 0 var(--ray-size),
    var(--offset-diagonal) calc(var(--offset-diagonal) * -1) 0 var(--ray-size);
}

/* Style dark */

.transicao {
  transition: 0.9s;
}

.background-dark{
  background-color: #1a1a1a;
}

.background-dark-filter{
  background-color: #343434 !important;
  color: #8E8E8E !important;
}

.background-dark-filter::placeholder{
  color: #8E8E8E !important;
}

.color-dark{
  color: #ECECEC !important;
}

.border-dark{
  box-shadow: 0px 0px 0px 0px;
  border: 2px solid #747474 !important;
}

.custom-bg th,
.custom-bg td {
  background-color: #1a1a1a; /* Aplicar a cor de fundo às células */
  color: #BBBBBB !important;
}

.custom-bg {
  --bs-table-hover-bg: #343434;
}