body{
  background-color: #FCFCFB;
}
  
h3{
  color: #FCFCFB;
}
  
.sidebar {
  background-color: #1A1A1A;
  padding: 20px;
  height: 100vh;
}

header{
  font-family: Poppins, Arial;
  padding-top: 30px;
}

h1{
  font-weight: 600;
}

p{
  color: #818181;
}

span{
  font-weight: 500;
  color: #818181;
}

img{
  margin-left: 5px;
}

label{
  font-size: 18px;
  font-family: Roboto, Arial;
}

.botoes2 a{
  text-align: center;
  text-justify: center;
}

.input{
  color: #818181;
  font-size: 17px;
  font-family: Roboto, Arial;
  background-color: #ECECEC;
  border: none;
  margin-bottom: 40px;
  transition-duration: 0.2s;
  height: 45px;
}

.botoes2{
  width: 150px;
}

.btnEdit{
  height: 50px;
  background-color: transparent;
  border: #FFB800 2px solid;
  border-radius: 4px;
  transition-duration: 0.2s;
}

.btnEdit span{
  color: #FFB800;
  font-family: Poppins, Arial;
  font-weight: 500;
}

.btnSolu{
  height: 50px;
  background-color: #FDECC1;
  border: none;
  border-radius: 4px;
  transition-duration: 0.2s;
}

.btnSolu span{
  color: #D89C00;
  font-family: Poppins, Arial;
  font-weight: 500;
}

.icone{
  padding-right: 6px;
}

.btnSave{
  height: 50px;
  background-color: #FFB800;
  color: #1A1A1A;
  border: none;
  border-radius: 4px;
  font-family: Poppins, Arial;
  font-weight: 500;
  transition-duration: 0.2s;
}

.btnEdit:hover{
  border-color: #fad473;
  color: #fad473;
}

.btnSolu:hover{
  background-color: #faeed1;
  color: #e9bc4b;
}

.btnSave:hover{
  background-color: #ffb700bc;
  color: #1a1a1ae7;
}

.input:focus {
  background-color: #f5f5f5;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #ffb70061;
}

