body{
    background-color: #FCFCFB;
    height: 100vh;
  }
  
  /*HEADER*/
    
  header{
    font-family: Poppins, Arial;
    padding-top: 30px;
  }
  
  h1{
    font-weight: 600;
  }
  
  p{
    color: #818181;
  }
  
  span{
    font-weight: 500;
    color: #818181;
  }
  
  .fotoPerfil{
    margin-left: 5px;
  }
  
  /*FORMULARIO*/
  
  label{
    font-size: 18px;
    font-family: Roboto, Arial;
  }

  .switch-label{
    font-size: 18px;
    font-family: Roboto, Arial;
  }
  
  .input{
    height: 45px;
    margin-bottom: 40px;
    color: #818181;
    font-size: 17px;
    font-family: Roboto, Arial;
    background-color: #ECECEC;
    border: rgba(0, 0, 0, 0.164) 1px solid;
    transition-duration: 0.2s;
  }
  
  #acao, #comentario, #dataResolucao{
    margin-bottom: 20px;
  }
  
  /* ACESSAR RISCO */
  
  .irRisco span{
    margin-left: 10px;
    font-family: Poppins, Arial;
    font-size: 18px;
    color: #FFB800;
  }
  
  .irRisco img{
    height: 17px;
  }

  .irRisco:hover{
    text-decoration: none;
  }
  
  /* BOTOES */
  
  .btnEdit{
    height: 50px;
    width: 120px;
    background-color: transparent;
    border: #FFB800 2px solid;
    border-radius: 4px;
    transition-duration: 0.2s;
  }
  
  .btnEdit span{
    color: #FFB800;
    font-family: Poppins, Arial;
    font-weight: 500;
  }
  
  .icone{
    margin-right: 8px;
  }
  
  .icone2{
    margin-right: 5px;
    margin-left: 10px;
  }
  
  .btnSave{
    height: 50px;
    width: 190px;
    margin-left: 10px;
    background-color: #FFB800;
    color: #1A1A1A;
    border: none;
    border-radius: 4px;
    font-family: Poppins, Arial;
    font-weight: 500;
    transition-duration: 0.2s;
    display: none;
  }
  
  .btnEdit:hover{
    background-color: #fad4732a;
    border: 2px solid #fad4732a;
    color: #fad473;
  }
  
  .btnSave:hover{
    background-color: #ffb700bc;
    color: #1a1a1ae7;
    text-decoration: none;
  }
  
  .input:focus {
    background-color: transparent;
    box-shadow: none;
    border: 1px solid rgba(61, 61, 61, 0.616);
  }
  
  .btnEdit:focus, .btnSave:focus {
    outline: none;
  }

  #idSolucao{
    display: none;
  }

  #idRisco{
    display: none;
  }
  
  /* MENU */
  nav{
    background-color: #1a1a1a;
  }
  
  .nav-item{
    font-family: Poppins, Arial;
    font-size: 17px;
    margin-left: 25px;
  }
  
  .nav-link {
    color: #F0F0F0;
  }
  
  .nav-link:hover {
    color: #c0c0c0;
  }
  
  .active,
  .active:hover{
    color: #FFB800;
  }
  
  ul li {
    display: flex;
  }
  
  ul li img{
    height: 22px;
    width: 22px;
  }
  
  .switch {
    margin-top: 15px;
    position: relative;
    display: inline-block;
    width: 80px; /* Alterado para 80px */
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 80px; /* Alterado para 80px */
    height: 34px;
    background-color: #ccc;
    transition: .4s;
    border-radius: 17px; 
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .3s;
    border-radius: 50%; 
}

input:checked + .slider:before {
    transform: translateX(46px); /* Aumentado para 46px */
}

input:checked + .slider {
    background-color: #FFB800;
}

input:focus + .slider {
    box-shadow: 0 0 1px #FFB800;
}
