:root {
  --fundo: #FCFCFB;
  --bs-body-bg: var(--fundo);
  --bs-table-border-color: #000000;
  --sombreamento: rgba(0, 0, 0, 0.25) 0px 2px 10px 0px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--fundo);
}

.conteudo {
  height: 100vh;
  padding-bottom: 50px;
}

.info-superior{
  height: auto;
}

.card {
  background-color: #FFB800;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  min-width: 270px;
  padding-top: 20px;
  border-width: 0px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 6px 24px 0px;
}

.row {
  min-height: 100px;
}

.num {
  font-size: 60px;
}

.container-grafico {
  margin-top: 50px;
}

.grafico {
  box-shadow: var(--sombreamento);
  padding: 10px;
  border-radius: 7px;
}

.container-table{
  max-width: 650px;
  height: 100%;
  border-radius: 7px;
  box-shadow: var(--sombreamento);
}

.table {
  max-width: 450px;
  margin: 20px auto 0px auto;
  --bs-table-color: #3E3E3E;
}

thead {
  --bs-table-color: #818181;
}

th {
  font-weight: 500;
}