@charset "UTF-8";

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    color: rgb(255, 255, 255);
    margin: 0;
    
}
.modal {
    background-color: rgb(0, 0, 0);
    width: 300px;
    grid-row-start: 1;
    grid-row-end: 5;
    height: 100%;
    display: grid;
}
.cabeçalho {
    background-color: rgb(255, 255, 255);
    grid-column-start: 2;
    grid-column-end: 4;
    width: 100%;
    display: grid;
    height: 150px;

}
.principal{
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 5;
    grid-column-end: 4;
    display: grid;
}
body {
    margin: 0;
    border-style: none;
}

.linha1 {
    display: flex;
    justify-content: space-evenly;
    margin-right: 70px;
    color: #818181;
    margin-right: 76px;
}
.linha2 {
    display: flex;
    justify-content: space-evenly;
    margin-right: 70px;
    color: #818181;
}
.linha3 {
    display: flex;
    justify-content: space-evenly;
    margin-right: 70px;
    color: #818181;
}
.linha4 {
    display: flex;
    justify-content: center;
    color: #818181;
    
}
.input {
    width: 358px;
    height: 200px;
    border-radius: 10px;
    margin-top: 10px;
    background-color:#ececec;
    border-style: solid;
    border-color: #ececec;
    
}
.select {
    width: 350px;
    margin: 15px;
    border-radius: 10px;
    height: 50px;
    border-style: solid;
    border-color: #ececec;
    color:#818181;
    background-color: #ececec;
    margin-top: 0px;
    
}
.impcons {
    width: 200px;
    height: 150px;
    margin-top: 20px;
    border-radius: 20px;
    margin-left: 140px;
    margin-right: 130px;
}
.metier {
    margin-right: 205px;
    margin-left: 130px;
    margin-bottom: 130px;
}
.jalon {
    margin-left: 180px;
}
.btn {
    display: flex;
    justify-content: end;
    margin-right: 250px;
    align-items: end;
}
.button {
    width: 300px;
    height: 70px;
    border-radius: 10px;
    border-style: solid;
    border-color: #FFB800;
    background-color: #FFB800;
    font-size: 1.4em;
    font-family: sans-serif;
}
.button:hover {
    background-color: yellow;
    border-color: yellow;
    border-radius: 10px;
    cursor: pointer;
}
.headinginfo{
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    color: black;
}
.perfil {
    display: inline-flex;
    width: 200px;
    margin-top: 50px;
    margin-right: 100px;
}
.infoonhead {
    justify-content: center;
    display: flex;
    width: 600px;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin-left: 40px;
}
.imagem {
    margin-top: 10px;
    margin-left: 10px;
}
.cadastrarrisco {
    width: 600px;
    display: flex;
    font-size: 2em;
    font-family: sans-serif;
    font-weight: 600;
}
p {
    margin-left: 17px;
}