/* Configurações gerais */

:root {
  --poppins: 'Poppins', sans-serif;
  --roboto: 'Roboto', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  max-width: none;
}

.container{
  max-width: none;
}

/* Menu */
nav{
  background-color: #1a1a1a;
}

.nav-item{
  font-family: var(--poppins);
  font-size: 17px;
}

.nav-link {
  color: #F0F0F0;
}

.nav-link:hover {
  color: #c0c0c0;
}

.active,
.active:hover{
  color: #FFB800;
}

ul li {
  display: flex;
}

ul li img{
  height: 22px;
  width: 22px;
}

/* Cabeçalho */
#cabecalho {
  height: 100px;
}

.sub-title-menu {
  font-family: var(--roboto);
  font-size: 17px;
  color: #818181;
}

.title-menu{
  font-family: var(--poppins);
  font-size: 30px;
  font-weight: 600;
  color: #1A1A1A;
}

#profile{
  font-family: var(--poppins);
  font-size: 16px;
  font-weight: 400;
  color: #818181;
}

#profile img{
  height: 40px;
  width: 40px;
}

/* Conteudo */

#conteudo{
  height: calc(100% - 100px);
}

/* Cards */

.card{
  background-color: #FFB800;
  border: none;
  max-height: 150px;
}

.card-title{
  font-family: var(--poppins);
  font-size: 18px;
  font-weight: 500;
}

.card-text {
  font-size: 50px ;
  font-weight: bold;
}