body{
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
}

form{
  padding-left: 10%;
  padding-right: 10%;
}

body,
.form-control{
  background-color: #FCFCFB;
}

.form-label{
  font-size: 18px;
  font-family: 'Inter', sans-serif;
}

.form-control::placeholder{
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

.form-check-label{
  color: #00000080;
  font-weight: 600;
}

.form-check-input:checked{
  background-color: #FFB800;
}

.form-control:focus,
.form-check-input:focus{
  border-color: #FFB800;
  box-shadow: 0 0 0 0.25rem rgba(255,184,0,.25)
}

.btn{
  font-size: 24px;
  font-weight: 600;
  color: black;
  background-color: #FFB800;
  border: none;
  font-family: 'Poppins', sans-serif;
}

.btn:hover {
  background-color: #FFB80090;
}